body{
    font-family: "맑은고딕", "고딕", "굴림";
}

header{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #6cd0d4;
    padding: 10px;
    overflow: hidden;
}

header h1{
    width: 40%;
    float: left;
    color: #ffffff;
}

header nav{
    width: 60%;
    float: right;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    float: left;
    margin: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 15px;
    line-height: 20px;
}

section{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #534225;
    padding: 5;
    background-color: #ffffff;
}

footer{
  width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: #a8a8a8;
    color: white;
    text-align: center;
}


ul{
    list-style-type: circle;
}

@font-face{
    font-family: Spoqa Han Sans Regular;
    src:url('Spoqa Han Sans Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 나눔손글씨붓;
    src:url('나눔손글씨붓.ttf');
    font-weight: bold;
}

@font-face{
    font-family: NanumGothicExtraBold;
    src:url('NanumGothicExtraBold.ttf');
    font-weight: bolder;
}

header{
    font-family: Spoqa Han Sans Regular;
}

body{
    font-family: GmarketSansTTFBold;
}

.medium{
    font-family: Spoqa Han Sans Regular;
    font-size: large;
    text-align: left;
    text-decoration: none;
    word-spacing: 0.1em;
}

.come{
    font-family: NanumGothicExtraBold;
    font-size: xx-large;
    word-spacing: 0.2em;
    color: #6cd0d4;
}

.girl{
    font-family: Spoqa Han Sans Regular;
    font-size: large;
    word-spacing: normal;
}

h1{
    font-variant: small-caps;
}

.girl{
    text-shadow: 1px 1px 2px #000;
}

.come{
    text-shadow: -3px 3px 2px #519fa2;
}

